altgraph==0.17.4
async-timeout==5.0.1
blinker==1.8.2
click==8.1.7
cx_Freeze==7.2.7
filelock==3.16.1
Flask==3.0.3
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
packaging==24.2
patchelf==0.17.2.1
psutil==6.1.0
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.10
redis==5.2.0
scapy==2.6.1
tomli==2.2.1
typing_extensions==4.12.2
Werkzeug==3.0.6
zipp==3.20.2
